# What
This a Home Assistant OS add-on for [Radicale][radicale].
[Home Assistant OS][HAOS] is a home automation distribution of [Home Assistant][HA]

# How
First you need to install [Home Assistant][HAinstall].
Then you can add this [Github repository url][GHrepo] to the [Home Assistant Addons repositories][HAaddonrepos] as a third-party.

I also have another [Github repository][GHaddons] which include all my add-ons in one repository.

# Bugs
Please try to only submit bugs related to [Radicale][radicale] as a [Home Assistant Addon][HAaddon] to this repository.

# Collaboration
I very much welcome help or ideas on how to make this add-on better.
Some ideas I would like to explore if time permits it are:

 * Event integrations like:
   * Event added
   * Event Removed
   * Event updated
   * Logins
 * Authentication against Home Assistant

 I also would like to either look at extending the calendar integration or make a new integration that
 supports more of [Radicale][radicale]'s features.

 I also have an [account][HAcommunityaccount] in the [Home Assistant Community][HAcommunity].

 [radicale]: https://radicale.org/3.0.html
 [HAOS]: https://www.home-assistant.io/hassio/
 [HA]: https://www.home-assistant.io/
 [HAinstall]: https://www.home-assistant.io/hassio/installation/
 [GHrepo]: https://github.com/buhl/HAOS-addon-radicale
 [HAaddonrepos]: https://www.home-assistant.io/hassio/installing_third_party_addons/
 [GHAddons]: https://github.com/buhl/HAOS-addons
 [HAaddon]: https://www.home-assistant.io/addons/
 [HAcommunity]: https://community.home-assistant.io/
 [HAcommunityaccount]: https://community.home-assistant.io/u/arendal
